html {
    font-family: 'Roboto';
}
.box {
    max-width: 1080px;
    display: flex;
    justify-content: center;


}
.container {
    width: 1080px;
    display: grid;
    grid-template-rows: 50px 1fr 40px;
    
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 198, 198, 0.996);
    box-shadow: 5px 5px 5px 1px;
}
.header-box {
    flex: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 198, 198, 0.996);
    font-size: 18px;
    padding: 0px;
    box-shadow: 5px 5px 5px 1px;

}
svg {
    margin-bottom: -5px;    
}

.login {
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
    width: 70px;
    height: 35px;
    border-radius: 13px;
    grid-row: 1;
    grid-column: 2;
}
.button-container {
    grid-column: 2;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#show-form {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    height: 40px;
    border-radius: 13px;
    grid-row: 1;
    grid-column: 2;
}
h1 {
    border-color: aliceblue;
}

ul {
    list-style: none;
}
.form-container {
    display: flex;
    width: 250px;
    text-align: center;
    background-color: rgba(211, 198, 198, 0.996);
    border-radius: 15px;
}

table {
    border:solid  1px;
}
.large-header {
    width: 200px;
    border:solid  1px;

}
.header {
    width: 80px;
    border:solid  1px;

}
.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}
.card {
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(250, 239, 239);
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}

.form-box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.form-info input {
    width: 180px;
    border-radius: 5px;
}
.form-info > button {
    width: 100px;
    border-radius: 5px;
}
.form-info > .read-check {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 5px;
    width: 100px;
    background-color: rgb(250, 239, 239);

}
#read-status {
    align-self: center;
}
.